html, body{
	height: 100%;
	width: 100%;
	margin: 0;
}
body {
	background: rgb(38, 64, 73);
	background-image: url(../img/bg.png);
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Julius Sans One', sans-serif;
}
.container {
	padding: 35px 32px 0;
}
.logo {
	height: 32px;
}
.logo img {
	float: left;
	margin-right: 16px;
}
.logo h1 {
	font-size: 32px;
	line-height: 36px;
	margin: 0;
	color: #B89F57;
	font-weight: normal;
}
.underline {
	display: block;
	border: none;
	height: 1px;
	opacity: 0.5;
	background-color: #B89F57;
	width: calc(100% + 32px);
	margin-top: 16px;
}
.tagline {
	width: 100%;
	max-width: 800px;
	font-size: 44px;
	line-height: 48px;
	color: #fff;
	margin-top: 24px;
	margin-bottom: 64px;
}
.cards {
	display: flex;
	position: relative;
}
.cards .card {
	flex-basis: 320px;
	padding-right: 32px;
	position: relative;
}
.cards .card h3 {
	font-size: 28px;
	line-height: 32px;
	color: #B89F57;
	font-weight: normal;
	margin: 0;
}
.cards .card p {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 22px;
	color: #FFF;
	margin: 0;
}
.cards .card .underline {
	width: 32px;
	margin: 12px 0;
}
.button {
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	border: 2px solid #B89F57;
	box-sizing: border-box;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	padding: 8px 30px;
	margin: 0;
	bottom: 17.5vw;
	width: auto;
	display: inline-block;
}
a {
	text-decoration: none;
	color: #B89F57;
}
@media (max-width: 1400px) {
	body {
		background-size: auto 100%;
	}
	.button {
		position: static;
		margin-top: 64px;
	}
}
@media (max-height: 900px) {
	body {
		background-size: cover;
	}
	.button {
		position: static;
		margin-top: 64px;
	}
}
@media (max-width: 1100px) {
	.cards .card {
		flex-basis: 472px;
		padding: 0;
		opacity: 0;
		animation-name: fade;
		animation-duration: 12s;
		animation-iteration-count: infinite;
		margin-left: -472px;
	}
	.cards .card:nth-child(1) {
		animation-delay: 0s;
		margin-left: 0 !important;
	}
	.cards .card:nth-child(2) {
		animation-delay: 4s;
	}
	.cards .card:nth-child(3) {
		animation-delay: 8s;
	}
	.pagination {
		width: 100%;
		line-height: 1px;
		margin-top: 24px;
	}
	.pagination span {
		display: inline-block;
		border: none;
		height: 1px;
		opacity: 0.5;
		width: 8px;
		padding-right: 4px;
		background-color: #000;
		animation-name: active;
		animation-duration: 12s;
		animation-iteration-count: infinite;
	}
	.pagination span:nth-child(1) {
		animation-delay: 0s;
	}
	.pagination span:nth-child(2) {
		animation-delay: 4s;
	}
	.pagination span:nth-child(3) {
		animation-delay: 8s;
	}
}
@media (max-width: 850px) {
	.tagline {
		max-width: 585px;
		font-size: 32px;
		line-height: 36px;
	}
}
@media (max-width: 640px) {
	.container {
		padding: 35px 16px 0;
	}
	.tagline {
		font-size: 28px;
		line-height: 32px;
		margin-top: 16px;
		margin-bottom: 48px;
	}
	.cards .card {
		flex-basis: 448px;
		margin-left: -448px;
	}
	.cards .card h3 {
		font-size: 24px;
		line-height: 28px;
	}
	.button {
		font-size: 19px;
		line-height: 24px;
		padding: 8px 16px;
		width: 100%;
	}
}
@media (max-width: 480px) {
	.cards .card {
		min-width: 100%;
	}
	.cards .card:nth-child(2) {
		margin-left: -100%;
	}
	.cards .card:nth-child(3) {
		margin-left: -100%;
	}
	.button {
		margin-top: 48px;
	}
}
@keyframes fade {
	0%     { opacity: 0; }
	11.11% { opacity: 1; }
	33.33% { opacity: 1; }
	44.44% { opacity: 0; }
	100%   { opacity: 0; }
}
@keyframes active {
	0%     { background-color: #000; }
	11.11% { background-color: #B89F57; }
	33.33% { background-color: #B89F57; }
	44.44% { background-color: #000; }
	100%   { background-color: #000; }
}
